
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color:#060621;

}

td {
    width: 2vw;
    height: 2vw;
    padding: 1vw;
    background-color:#060621;
    color: white;
}


table, th, td {
    border: .25vh solid gray;
    border-collapse: collapse;
  }


.snakeCell{
    background-color: green;
    color:green;
}